<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Arguments -->
  <arg name="areas" default="$(find mav_inspection_maps)/areas/ballasttank.yaml" />
  <arg name="detection_node" default="$(find mav_inspection_detection)/launch/detection_fiducial.launch" />
  <!-- Shared -->
  <arg name="ns_inspection" default="/inspection" />
  <arg name="base_link_frame" default="firefly/base_link" />
  <arg name="reference_frame" default="world" />
  <!-- Detection node -->
  <arg name="markers_array_out_topic" default="markers" />


  <arg name="global_planner_ns" default="/planner/global_planner" />
  <arg name="local_planner_ns" default="/planner/local_planner" />
  <arg name="exploration_planner_ns" default="/planner/exploration_planner" />
  <arg name="odometry_topic" default="/firefly/ground_truth/odometry" />
  <arg name="command_pose_topic" default="/firefly/command/pose" />
  <arg name="exploration_status_topic" default="$(arg exploration_planner_ns)/status" />
  <arg name="position_tolerance" default="0.1" /> <!-- meter -->
  <arg name="orientation_tolerance" default="0.19634954084" /> <!-- radian -->
  <arg name="velocity_tolerance" default="0.05" /> <!-- m/s or rad/s -->
  <arg name="inspection_time" default="1.0" /> <!-- seconds -->


  <group ns="$(arg ns_inspection)">
    <!-- Detection node -->
    <include file="$(arg detection_node)">
      <!-- Parameters -->
      <arg name="markers_array_out_topic" value="$(arg markers_array_out_topic)" />
      
      <arg name="reference_frame" value="$(arg reference_frame)" />
    </include>


    <!-- Define home position -->
    <node pkg="tf" type="static_transform_publisher" name="tf_home_position" args="15.0 0 0.6 0 0 3.14 /$(arg reference_frame) /home_position 10"/>  


    <!-- Inspection node -->
    <node name="inspection_node" pkg="mav_inspection_execution" type="inspection_execution_node" output="screen">
      <!-- Load area parameters -->
      <rosparam file="$(arg areas)" command="load" />
      <!-- Parameters -->
      <param name="marker_topic" value="detection_node/$(arg markers_array_out_topic)" />
      <param name="inspection_pose_topic" value="inspection_pose" />
      <param name="odometry_topic" value="$(arg odometry_topic)" />
      <param name="command_pose_topic" value="$(arg command_pose_topic)" />
      <param name="exploration_status_topic" value="$(arg exploration_status_topic)" />
      <param name="inspection_time" value="$(arg inspection_time)" />

      <param name="base_link_frame" value="$(arg base_link_frame)" />
      <param name="reference_frame" value="$(arg reference_frame)" />

      <param name="global_planner_ns" value="$(arg global_planner_ns)" />
      <param name="local_planner_ns" value="$(arg local_planner_ns)" />
      <param name="exploration_planner_ns" value="$(arg exploration_planner_ns)" />

      <param name="position_tolerance" value="$(arg position_tolerance)" />
      <param name="orientation_tolerance" value="$(arg orientation_tolerance)" />
      <param name="velocity_tolerance" value="$(arg velocity_tolerance)" />
    </node>

  </group>

</launch>
