<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Convenience launch file for launching Groot - the behavior tree editor -->
  <node name="groot" pkg="groot" type="Groot" output="screen" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find behavior_tree)/rviz_config/def.rviz" />
</launch>
